<section>
  <form action="/login" method="post">
    <input name="login" placeholder="Login" />
    <input type="password" name="password" placeholder="Password" />
    <br />
    <input type="submit" name="submit" value="Submit" />
  </form>
</section>